.BoutonArticle {
    width: 100%;
    height: 100%;
    font-weight: 600;
}

.ArticlePrix {
    font-size: 1.5vh;
    font-weight: 400;
    padding-bottom: 1vh;
}

.ArticleQuantite {
    font-size: 3vh;
}

/* En mode split l'affichage est de la forme (2/4) : un peu plus compact */
.ArticleQuantiteSplit {
    font-size: 2.3vh;
}



/* -- Couleurs boutons -- */

.BoutonAJOUTER_vide {
    background-color: var(--mode-ajouter-vide);
}
.BoutonAJOUTER {
    background-color: var(--mode-ajouter);
}
.BoutonAJOUTER:active {
    background-color: var(--mode-ajouter-click);
}

.BoutonSUPPRIMER_vide {
    background-color: var(--mode-supprimer-vide);
}
.BoutonSUPPRIMER {
    background-color: var(--mode-supprimer);
}
.BoutonSUPPRIMER:active {
    background-color: var(--mode-supprimer-click);
}

.BoutonSPLIT_vide {
    background-color: var(--mode-split-vide);
}
.BoutonSPLIT {
    background-color: var(--mode-split);
}
.BoutonSPLIT:active {
    background-color: var(--mode-split-click);
}

.BoutonSPLIT_RETIRER_vide {
    background-color: var(--mode-split-retirer-vide);
}
.BoutonSPLIT_RETIRER {
    background-color: var(--mode-split-retirer);
}
.BoutonSPLIT_RETIRER:active {
    background-color: var(--mode-split-retirer-click);
}